/*	General	*/

body {
	background: white;
	font-family: 'Open Sans', 'Carme', "Trebuchet MS", verdana, sans-serif;
	font-size: 48px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}

/*	Header */

#header {
	margin: 0 auto;
	background: url(header.png) top left repeat-x;
	height: 137px;
	width: 100%;
	}

#eventname {
	position: absolute;
	vertical-align: top;
	margin: 42px 0 0 20px;
	font-size: 48px;
	color: white;
	}
	
#eventsub {
	position: absolute;
	vertical-align: top;
	margin: 96px 0 0 25px;
	font-size: 28px;
	color: white;
	}
	
#sendinfo {
	float: right;
	margin: 34px 30px 0 0px;
	height: 100%;
	font-size: 32px;
	line-height: 47px;
	color: white;
	text-align: center;
	}
	
#prompt {
	font-weight: bold;
	}

#number {
	font-weight: normal;
	font-size: 32px;
	}
	
#main {
	width: 1000px;
	margin: 100px auto 0 auto;
	text-align: center;
	
	}