/*	General Styling	*/

body {
	background: white;
	font-family: 'Open Sans', 'Carme', "Trebuchet MS", verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/*	Header & Navigation	*/

#header {
	margin: 0 auto;
	background: url(header.png) top left repeat-x;
	height: 137px;
	width: 100%;
	}

#eventname {
	position: absolute;
	vertical-align: top;
	margin: 57px 0 0 20px;
	height: 100%;
	font-size: 48px;
	color: white;
	}
	
#sendinfo {
	float: right;
	margin: 30px 30px 0 0px;
	height: 100%;
	font-size: 28px;
	line-height: 36px;
	color: white;
	text-align: center;
	}
	
#prompt {
	font-weight: bold;
}

number {
	font-weight: normal;
}